p {
    margin: 0;
}

body {
    margin: 0;
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: space-around;
} 

button {
    border: 0px solid black;
    margin: 2px;
    padding: 12px;
    border-radius: 4px;
    background-color: ;
    }

.score {
  font-size: 40px;
  color: white;
  font-family: monospace;
  padding: 20px;
  background-color: grey;
  text-align: center;
  border-radius: 4px;
}

.home {
    background-color: black;
    color: white;
}

.guest {
    background-color: grey;
    color: white;
}

#restart {
    margin-top: 20px;
    background-color: red;
    color: white;
}   